<div class="relative w-full max-w-xs">
  <input
    type="text"
    placeholder="Search a user"
    [formControl]="searchUsers"
    [matAutocomplete]="auto"
    matInput
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg 
           focus:ring-blue-500 focus:border-blue-500 block p-2.5 w-full
           dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  />

  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayUserFn"
    (optionSelected)="onSelect($event.option.value)"
  >
    <mat-option *ngFor="let user of users" [value]="user">
      {{ user.username }}
    </mat-option>
  </mat-autocomplete>
</div>
