<div class="max-w-md h-40 flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
    <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      Project name: {{project.projectName}}
    </h5>
  
    <button (click)="viewProject()" class="mt-4 px-4 py-2 rounded-lg text-white bg-blue-500 hover:bg-blue-600 focus:outline-2 focus:outline-offset-2 focus:outline-blue-500 active:bg-blue-700">
      View project
    </button>
  </div>
  