<div
  class="w-full lg:w-80 bg-white rounded-xl shadow-xl p-8 flex flex-col gap-6 flex-shrink-0 border border-gray-200"
>
  <h2 class="text-2xl font-bold text-gray-800 border-b pb-4 mb-4">
    Time details
  </h2>
  <div class="flex justify-between items-center">
    <p *ngIf="!isEditing" class="text-gray-700">
      <strong>Assigned:</strong> {{ taskMetadata?.assignedTo }}
    </p>
    <button
       *ngIf = "!isEditing" 
      (click)="assignNewUser()" class="text-blue-600 hover:text-blue-800 transition duration-300">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <div *ngIf="isEditing">
      <app-user-search-select (selectedUser)="handleUserSelection($event)"></app-user-search-select>
    </div>
  </div>
  <p class="text-gray-700">
    <strong>Created date:</strong>
    {{ time?.createdDate | date : "dd/MM/yyyy HH:mm" }}
  </p>
  <p class="text-gray-700">
    <strong>Last modified:</strong>
    {{ time?.modifiedDate | date : "dd/MM/yyyy HH:mm" }}
  </p>

  <h3 class="text-xl font-bold text-gray-800 mt-5 border-b pb-4">
    Tracking time
  </h3>

  <div class="w-full">
    <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
      <div class="bg-blue-600 h-2.5 rounded-full" style="width: 60%"></div>
    </div>

    <p class="mt-2 text-sm text-gray-700">18 zile trecute / 12 zile rămase</p>
  </div>
</div>
