<div>
  <h3 class="font-bold text-gray-800 text-xl mb-3">Attachments</h3>
  <div
    class="flex overflow-x-auto space-x-4 p-3 bg-gray-50 rounded-lg border border-gray-200 min-h-[100px] items-center attachments-scroll">
    
    <div *ngFor="let attachment of attachments" class="relative flex flex-col items-center">
      <div
        *ngIf="attachment.id !== undefined"
        (click)="downloadAttachment(attachment.id)"
        class="flex-shrink-0 w-24 h-24 flex items-center justify-center border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 transition duration-200 overflow-hidden relative">
        
        <i class="fas fa-file-alt text-gray-500 text-3xl"></i>
        
        <button
          *ngIf="attachment.id !== undefined"
          (click)="deleteAttachment(attachment.id); $event.stopPropagation()"
          class="absolute top-1 right-1 text-red-600 hover:text-red-800 bg-white rounded-full p-1 shadow"
          aria-label="Delete attachment"
        >
          <i class="fas fa-times"></i>
        </button>
      </div>
      <p class="mt-1 truncate w-24 text-center">{{ attachment.fileName }}</p>
    </div>
    
  </div>
  <div class="mt-5 flex items-center gap-4">
    <div *ngIf="hasWritePermission">
      <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)" />
      <label for="fileInput"
        class="cursor-pointer bg-blue-600 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-200 shadow-md">
        Upload File
      </label>
    </div>
  </div>
</div>
