<div>
          <h3 class="font-bold text-gray-800 text-xl mb-3">Attachments</h3>
          <div
            class="flex overflow-x-auto space-x-4 p-3 bg-gray-50 rounded-lg border border-gray-200 min-h-[100px] items-center attachments-scroll">
            <div
              class="flex-shrink-0 w-24 h-24 flex items-center justify-center border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 transition duration-200 overflow-hidden">
              <img src="https://via.placeholder.com/64x64?text=Screenshot1.png" alt="Screenshot 1"
                class="object-cover w-full h-full" />
            </div>
            <div
              class="flex-shrink-0 w-24 h-24 flex items-center justify-center border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 transition duration-200 overflow-hidden">
              <i class="fas fa-file-alt text-gray-500 text-3xl"></i>
            </div>
            <div
              class="flex-shrink-0 w-24 h-24 flex items-center justify-center border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100 transition duration-200 overflow-hidden">
              <img src="https://via.placeholder.com/64x64?text=Log_file.txt" alt="Log File"
                class="object-cover w-full h-full" />
            </div>
          </div>
          <div class="mt-5 flex items-center gap-4">
            <div *ngIf="hasWritePermission">
                          <input type="file" id="fileInput" class="hidden" (change)="onFileSelected($event)" />

            <label for="fileInput"
              class="cursor-pointer bg-blue-600 text-white font-medium py-2 px-4 rounded-lg hover:bg-blue-700 transition duration-200 shadow-md">
              Upload File
            </label>

            <span *ngIf="selectedFileName" class="text-sm text-gray-600 truncate max-w-xs">
              {{ selectedFileName }}
            </span>
            </div>
          </div>
        </div>