<div class="flex h-screen">
    <!-- Left Sidebar -->
    <div class="w-xs border-r border-gray-300 p-4 overflow-y-auto bg-gray-100 flex flex-col">
      <h2 class="text-xl font-bold mb-8">Tasks</h2>
      <button class="btn-icon rounded-lg flex items-center gap-3 bg-white-100 px-4 py-2 border-none cursor-pointer transition-colors duration-300 hover:bg-blue-200 hover:text-blue-500 w-full">
        <img src="assets/icons/board.svg" alt="Jira Board" class="w-8 h-8" />
        <span class="text-sm font-semibold">Board</span>
      </button>
  
      <button class="btn-icon rounded-lg flex items-center gap-3 bg-white-100 px-4 py-2 border-none cursor-pointer transition-colors duration-300 hover:bg-blue-200 hover:text-blue-500 w-full">
        <img src="assets/icons/list.png" alt="Jira Board" class="w-8 h-8" />
        <span class="text-sm font-semibold">Tasks</span>
      </button>
  
      <div class="mt-auto">
        <button class="btn-icon rounded-lg flex items-center gap-3 bg-white-100 px-4 py-2 border-none cursor-pointer transition-colors duration-300 hover:bg-blue-200 hover:text-blue-500 w-full">
          <img src="assets/icons/settings.png" alt="Jira Board" class="w-8 h-8" />
          <span class="text-sm font-semibold">Settings</span>
        </button>
      </div>
    </div>
  
    <!-- Right Content Area -->
    <div class="flex-1 p-6">
      <h2 class="text-2xl font-bold mb-4">Board</h2>
      <div *ngIf="!hasTasks" class="flex h-[400px] items-center justify-center">
        <button
          class="btn-icon mt-100 rounded-lg flex flex-col items-center gap-3 bg-white px-4 py-4 border-none cursor-pointer transition-colors duration-300"
        >
          <img src="assets/icons/no-task.png" alt="Jira Board" class="w-24 h-24" />
          <span class="text-sm font-semibold">No tasks available for the board</span>
        </button>
      </div>
      <div class="flex space-x-5 mt-15">
        <div *ngIf ="hasTasks">
            <div *ngFor ="let group of tasksGroupedByState | keyvalue">
                <app-panel-board [state]="group.key" [tasks]="group.value"></app-panel-board>
            </div>
        </div>
      </div>
    </div>
  </div>
  